html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: "Epilogue", sans-serif;
}

li {
  list-style: none;
}

h1 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

p {
  font-weight: 500;
  margin-top: 0;
}

.header {
  width: 100%;
  position: relative;
  display: flex;
}
.header__picture img {
  padding: 15px;
}
.header__hamburguer {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  padding: 15px;
}
.header__hamburguer__item {
  width: 30px;
  height: 3px;
  background: url("../../../images/icon-menu.svg");
}
.header__navbar.open {
  transform: translateX(0%);
  background-color: rgba(0, 0, 0, 0.6);
  transition: transform 300ms ease-in-out, background-color 1000ms ease-in-out;
}
.header__navbar {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;
  color: hsl(0deg, 0%, 41%);
}
.header__navbar__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  width: 50%;
  background-color: hsl(0deg, 0%, 98%);
  padding: 13vh 4vh;
}
.header__navbar__list__item:first-child .details__list__item:first-child::before {
  content: url("../../../images/icon-todo.svg");
  margin-right: 10px;
}
.header__navbar__list__item:first-child .details__list__item:nth-child(2):before {
  content: url("../../../images/icon-calendar.svg");
  margin-right: 10px;
}
.header__navbar__list__item:first-child .details__list__item:nth-child(3)::before {
  content: url("../../../images/icon-reminders.svg");
  margin-right: 10px;
}
.header__navbar__list__item:first-child .details__list__item:last-child::before {
  content: url("../../../images/icon-planning.svg");
  margin-right: 10px;
}
.header__navbar__list__item:first-child .details__summary, .header__navbar__list__item:nth-child(2) .details__summary {
  outline: none;
  list-style: none;
}
.header__navbar__list__item:first-child .details__summary::-webkit-details-marker, .header__navbar__list__item:nth-child(2) .details__summary::-webkit-details-marker {
  display: none;
}
.header__navbar__list__item:first-child .details__list, .header__navbar__list__item:nth-child(2) .details__list {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header__navbar__list__item:first-child .details .down::after, .header__navbar__list__item:nth-child(2) .details .down::after {
  content: url("../../../images/icon-arrow-down.svg");
  margin-left: 10px;
  transform: rotate(180deg);
  transition: transform 300ms ease-in;
}
.header__navbar__list__item:first-child .details .up::after, .header__navbar__list__item:nth-child(2) .details .up::after {
  content: url("../../../images/icon-arrow-up.svg");
  margin-left: 10px;
  transform: rotate(180deg);
  transition: transform 300ms ease-in;
}
.header__navbar__list__item .button {
  all: unset;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
}
.header__navbar__list__item .button__register {
  border: 1.5px solid hsl(0deg, 0%, 41%);
}
.header__navbar__exit {
  width: 25px;
  height: 25px;
  position: absolute;
  padding: 15px;
}

.main.picture img {
  width: 100%;
}

.container {
  width: 100%;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
