@use "../globals/" as c;

.header {
  width: 100%;
  position: relative;
  display: flex;

  @media (min-width: 850px) {
    .header__hamburguer {
      display: none;
    }
    .header__navbar {
      min-height: 10vh;
      transform: translateX(0%);
      position: relative;

      &__list {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 30px;
        padding: 0;

        &__item:not(.header__navbar__list__item:first-child, .header__navbar__list__item:nth-child(2)):hover {
          color: c.$almost-black;
        }

        &__item {
          .button {
            padding: 10px 10px;
            cursor: pointer;
            &__login:hover {
              color: c.$almost-black;
            }
            &__register:hover {
              color: c.$almost-black;
              border-color: c.$almost-black;
            }
          }
        }
        &__item:first-child {
          margin-left: 30px;
          .details {
            &__list {
              transform: translate(-25%, 10%);
            }
          }
        }
        &__item:nth-child(2) {
          .details {
            &__list {
              transform: translateY(13%);
            }
          }
        }
        &__item:nth-child(5) {
          margin-left: auto;
        }
        &__item:nth-child(6) {
          margin-right: 50px;
        }

        &__item:first-child,
        &__item:nth-child(2) {
          .details {
            &__summary {
              cursor: pointer;
              &:hover {
                color: c.$almost-black;
              }
            }

            &__list {
              width: 100px;
              position: absolute;
              border-radius: 10px;
              box-shadow: 0px 8px 30px 7px rgba(105, 105, 105, 0.41);
              -webkit-box-shadow: 0px 8px 30px 7px rgba(105, 105, 105, 0.41);
              -moz-box-shadow: 0px 8px 30px 7px rgba(105, 105, 105, 0.41);
              background-color: c.$almost-white;
            }
          }
        }
      }
      &__exit {
        display: none;
      }
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    img {
      padding: 15px;
    }
  }

  &__hamburguer {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    padding: 15px;
    &__item {
      width: 30px;
      height: 3px;

      background: url("../../../images/icon-menu.svg");
    }
  }
  &__navbar.open {
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.6);
    transition: transform 300ms ease-in-out, background-color 1000ms ease-in-out;
  }
  &__navbar {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(100%);
    transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;
    color: c.$medium-gray;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0;
      width: 50%;
      padding: 13vh 4vh;
      background: c.$almost-white;
      &__item:first-child {
        .details__list__item:first-child::before {
          content: url("../../../images/icon-todo.svg");
          margin-right: 10px;
        }
        .details__list__item:nth-child(2):before {
          content: url("../../../images/icon-calendar.svg");
          margin-right: 10px;
        }
        .details__list__item:nth-child(3)::before {
          content: url("../../../images/icon-reminders.svg");
          margin-right: 10px;
        }
        .details__list__item:last-child::before {
          content: url("../../../images/icon-planning.svg");
          margin-right: 10px;
        }
      }

      &__item:first-child,
      &__item:nth-child(2) {
        .details {
          position: relative;
          &__summary {
            outline: none;
            list-style: none;
            &::-webkit-details-marker {
              display: none;
            }
          }

          &__list {
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;
          }

          .down::after {
            content: url("../../../images/icon-arrow-down.svg");
            margin-left: 10px;
          }
          .up::after {
            content: url("../../../images/icon-arrow-up.svg");
            margin-left: 10px;
          }
        }
      }

      &__item {
        .button {
          all: unset;
          width: 100%;
          text-align: center;
          padding: 10px 0;
          border-radius: 10px;
          &__register {
            border: 2px solid c.$medium-gray;
          }
        }
      }
    }

    &__exit {
      width: 25px;
      height: 25px;
      position: absolute;
      padding: 15px;
    }
  }
}
